/* navbar styles */
.nav.navbar-nav>li>a {
  font-size: 18px;
  transition: all .3s ease;
}
.nav.navbar-nav>li>a:hover,
.nav.navbar-nav>li>a:focus,
.nav.navbar-nav>li:active {
  color: #333;
  background-color: #ddd;
}

.content {
  background-color:#eee;
  margin:10px;
  padding:15px;
  border-radius: 5px;
  box-shadow: inset 0px 0px 10px 0px #ccc;
}
